# Bundesliga Tables in a world where the three-point-rule was never introduced

In this notebook we recalculate the final standings of the Bundesliga seasons 95/96 - 22/23. Instead of the three points per win, that were introduced before the 95/96 season, we calculate the tables using the previously used 2 points per win. 

Of course, this completely neglects all kinds of factors like different tactics and psychological effects based on different standings during the season. It's just a bit of "what if?" fun. 🙂⚽️

The tables below show the alternate final standings with the alternate 2-rule point sums in the "points-2" columnn and the difference in final position of each team shown in the "diff" column.

There are two "robbed" Meisterschalen and some relegations that could have been prevented. There is also a season in which it would not have made a difference. In general, you can see that especially lower-table teams that earned lots of (probably hard fought) draws are at a disadvantage with the 3-point-rule.

In [1]:
import requests;
import pandas as pd;
import numpy as np;
#import seaborn as sns;
pd.options.mode.copy_on_write = True

In [2]:
# Set to either teamName or shortName
displayName = "teamName"
green = "#a1e3b6"
red = "#f2b4aa"

styleFunc = lambda x: ["background: {}".format(green) if (isinstance(v, int) and v > 0) else ("background: {}".format(red) if (isinstance(v, int) and v < 0) else "") for v in x]

## Seasons: 1995/96 until 2008/09

For these seasons, we have to calculate the tables from the match history dataset first as I did not find any suitable API. 

The source of the dataset can be found at: https://github.com/thomascamminady/AllBundesligaGamesEver.
Note that the dataset has some duplicate entries we need to drop. Also the author of the dataset has swapped the points awarded columns for home and guest teams which led to some major confusion as to why the tables did not add up to the accurate point sums 😵‍💫

In [3]:
path = "./dataset.csv"
gamesTable = pd.read_csv(path, sep=";")
selectionTable = gamesTable[(gamesTable["SeasonFrom"].astype(int)>=1995) & (gamesTable["League"]=="1. Bundesliga")][["SeasonFrom","Home", "Guest", "Score90Home", "Score90Guest", "PointsHome", "PointsGuest"]]

In [4]:
for year in range(1995,2008):
    print("\n--- Season {}/{} ---\n".format(year, year+1))
    
    # Get all matches of the season
    season = selectionTable[selectionTable["SeasonFrom"].astype(int)==year]
    season.drop_duplicates(inplace=True)
    season["PointsHome-2"] = np.where(season["PointsHome"]==3, 2, season["PointsHome"])
    season["PointsGuest-2"] = np.where(season["PointsGuest"]==3, 2, season["PointsGuest"])

    # Select teams that played in that season
    allTeams = season["Home"].unique()
    allTeams = pd.DataFrame(data=allTeams, columns=["teamName"])

    pointsPerTeam = []
    points2PerTeam = []
    goalDiffPerTeam = []
    
    # calculate every teams goaldiff, points (3perWin) and alternate points (2perWin)
    for i, table in allTeams.iterrows():
        homeGoalDiff = season[season["Home"] == table[0]]["Score90Home"].sum() - season[season["Home"] == table[0]]["Score90Guest"].sum()
        guestGoalDiff = season[season["Guest"] == table[0]]["Score90Guest"].sum() - season[season["Guest"] == table[0]]["Score90Home"].sum()
        goalDiffPerTeam.append(homeGoalDiff+guestGoalDiff)
        # Here we have to swap the columns because of an error in the dataset 
        homePoints = season[season["Home"] == table[0]]["PointsGuest"].sum()
        guestPoints = season[season["Guest"] == table[0]]["PointsHome"].sum()
        totalPoints = (homePoints+guestPoints)
        pointsPerTeam.append(totalPoints)
        # calculate alternate points per team (2 pts per win). again swap the columns 
        homePoints2 = season[season["Home"] == table[0]]["PointsGuest-2"].sum()
        guestPoints2 = season[season["Guest"] == table[0]]["PointsHome-2"].sum()
        totalPoints2 = (homePoints2+guestPoints2)
        points2PerTeam.append(totalPoints2)

    # calculate the final tables and differences
    allTeams["points"] = pointsPerTeam
    allTeams["goalDiff"] = goalDiffPerTeam
    allTeams["points-2"] = points2PerTeam
    allTeams.sort_values(by=["points", "goalDiff"], ascending=False, inplace = True)
    allTeams.reset_index(inplace = True, drop=True)
    allTeams.reset_index(inplace = True, drop=False)
    allTeams.sort_values(by=["points-2", "goalDiff"], ascending=False, inplace = True)
    allTeams.reset_index(inplace = True, drop=True)
    
    allTeams["diff"] = allTeams["index"]- allTeams.index

    display(allTeams.style.apply(styleFunc, subset=pd.IndexSlice[:, ['diff']]))

--- Season 1995/1996 ---

--- Season 1996/1997 ---

--- Season 1997/1998 ---

--- Season 1998/1999 ---

--- Season 1999/2000 ---

--- Season 2000/2001 ---

--- Season 2001/2002 ---

--- Season 2002/2003 ---

--- Season 2003/2004 ---

--- Season 2004/2005 ---

--- Season 2005/2006 ---

--- Season 2006/2007 ---

--- Season 2007/2008 ---

## Seasons 2008/09 until 2022/23

For these seasons I found a nice API allowing me to fetch the final tables. 
https://openligadb.de

In [5]:
for year in range(2008,2023):
    print("\n--- Season {}/{} ---\n".format(year, year+1))
    # fetch table and format 
    apiUrl = "https://api.openligadb.de/getbltable/bl1/{y}".format(y = year)
    response = requests.get(apiUrl)
    responseData = response.json();
    table = pd.DataFrame(responseData)
    tableShort = table[[displayName, "points", "won", "draw", "lost", "goalDiff"]]
    # calc alternate Points and create second table
    tableShort["points-2"] = tableShort["won"]*2 + tableShort["draw"]
    alternateTable = tableShort.copy()
    alternateTable.sort_values(by=['points-2', "goalDiff"], ascending=False, inplace = True)
    alternateTable.reset_index(inplace=True)
    alternateTable["diff"] = alternateTable["index"]- alternateTable.index
    
    display(alternateTable.style.apply(styleFunc, subset=pd.IndexSlice[:, ['diff']]))

--- Season 2008/2009 ---

--- Season 2009/2010 ---

--- Season 2010/2011 ---

--- Season 2011/2012 ---

--- Season 2012/2013 ---

--- Season 2013/2014 ---

--- Season 2014/2015 ---

--- Season 2015/2016 ---

--- Season 2016/2017 ---

--- Season 2017/2018 ---

--- Season 2018/2019 ---

--- Season 2019/2020 ---

--- Season 2020/2021 ---

--- Season 2021/2022 ---

--- Season 2022/2023 ---